### FEATURE ENGINEERING

In [1]:
# Import Packages and Dependencies
import datetime
import pandas as pd
import numpy as np
import pickle

#packages for visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Display plots in jupyter notebook
%matplotlib inline
%config InlineBackend.figure_format = 'svg' #to fix blurry text on plots

#set default theme for plotting
sns.set_context("notebook")
sns.set_style("darkgrid")
sns.set(color_codes=True)

#set max number of columns to be displayed
pd.set_option('display.max_columns', 50)

In [4]:
#Loading Data
train= pd.read_pickle("../Task 2/processed_data/train_data.pkl")
history_data= pd.read_pickle('../Task 2/processed_data/history_data.pkl')

In [5]:
train.head()

,id,activity_new,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,forecast_cons_year,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max,churn
0,48ada52261e7cf58715202705a0451c9,esoiiifxdlbkcsluxmfuacbdckommixw,lmkebamcaaclubfxadlmueccxoimlema,309275,0,10025,2012-11-07,2016-11-06,2012-11-07,2015-11-09,26520.30,10025,0.0,359.29,0.095919,0.088347,58.995952,f,831.8,-41.76,-41.76,1,1732.36,3,ldkssxwpmemidmecebumciepifcamkci,180.000,0
1,24011ae4ebbe3035111d65fa7c15bc57,NaN,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2013-06-15,2015-06-23,0.00,0,0.0,1.78,0.114481,0.098142,40.606701,t,0.0,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,1
2,d29c2c54acc38ff3c0614d0a653813dd,NaN,NaN,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,0,0.0,16.27,0.145711,0.000000,44.311378,f,0.0,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0
3,764c75f661154dac3a6c254cd082ea7d,NaN,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,0,0.0,38.72,0.165794,0.087899,44.311378,f,0.0,28.60,28.60,1,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0
4,bba03439a292a1e166f80264c16191cb,NaN,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,0,0.0,19.83,0.146694,0.000000,44.311378,f,0.0,30.22,30.22,1,25.46,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200,0

In [6]:
history_data.head()

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

### 1. Feature Engineering

when training our model we cannot use `string` data and need to encode it into numerical data. One way to do it is by mapping each category to an integer (label encoding) but this will not work because the model will understand the data to be in some kind of hierarchy.

For that reason we will use a method with `dummy variable`.

**Tranforming Categorical data**
    1. Channel_Sales
    We will add dummy variables and transform it into boolean category to determine whether an entry belongs to that category or not

In [7]:
#First need to replace all missing values with a categorical value

train['channel_sales'] = train['channel_sales'].fillna('no_channel')

In [8]:
#transform channel_sales into categorical data type
train['channel_sales'] = train['channel_sales'].astype('category')

In [9]:
#display the categories in channe_sales

train['channel_sales'].value_counts()

foosdfpfkusacimwkcsosbicdxkicaua    7376
no_channel                          4217
lmkebamcaaclubfxadlmueccxoimlema    2073
usilxuppasemubllopkaafesmlibmsdf    1444
ewpakwlliwisiwduibdlfmalxowmwpci     966
sddiedcslfslkckwlfkdpoeeailfpeds      12
epumfxlbckeskwekxbiuasklxalciiuu       4
fixdbufsefwooaasfcxdxadsiekoceaa       2
Name: channel_sales, dtype: int64

there are 8 different categories. We will convert them to 8 different columns by adding dummy variables and then remove the null value category

In [10]:
#create dummy variables
categories_channel_sales = pd.get_dummies(train['channel_sales'], prefix='channel')

#rename columns
categories_channel_sales.columns = [col_name[:11] for col_name in categories_channel_sales.columns]

In [11]:
categories_channel_sales.head()

,channel_epu,channel_ewp,channel_fix,channel_foo,channel_lmk,channel_no_,channel_sdd,channel_usi
0,0,0,0,0,1,0,0,0
1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,0

In [12]:
#drop null values column
categories_channel_sales.drop(columns=['channel_no_'], inplace=True)

2. Activity

In [13]:
#replace the null values with 'no_activity'
train['activity_new'] = train['activity_new'].fillna('no_activity')

In [14]:
train['activity_new'].value_counts()

no_activity                         9545
apdekpcbwosbxepsfxclislboipuxpop    1577
kkklcdamwfafdcfwofuscwfwadblfmce     422
kwuslieomapmswolewpobpplkaooaaew     230
fmwdwsxillemwbbwelxsampiuwwpcdcb     219
                                    ...
exespdalufcdobebbdlcbmbficidkolw       1
ubmsiuoxiaiukxlcfflklluolpeuxaas       1
ikiucmkuisupefxcxfxxulkpwssppfuo       1
xbwipkcuemuidpumuiomukkicculdmsb       1
upssicikedpwsfusuofwdxiopiuluubp       1
Name: activity_new, Length: 420, dtype: int64

There are a lot of activities with very few companies. So we will replace the any category **less than 75 samples** as no_acitivity category

In [15]:
categories_activity = pd.DataFrame({'Samples': train['activity_new'].value_counts()})

In [16]:
#filter categories with less than 75 samples
filter_samples = list(categories_activity[categories_activity['Samples']<=75].index)

#replace filtered by 'no_activity' category
train['activity_new'] = train['activity_new'].replace(filter_samples, 'no_activity')

In [17]:
#create dummy variables
categories_activity = pd.get_dummies(train['activity_new'], prefix='activity')

#rename columns
categories_activity.columns = [col_name[:12] for col_name in categories_activity.columns]

categories_activity.head()

,activity_apd,activity_ckf,activity_clu,activity_cwo,activity_fmw,activity_kkk,activity_kwu,activity_no_,activity_sfi,activity_wxe
0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,1,0,0

In [18]:
#drop null values column
categories_activity.drop(columns=['activity_no_'], inplace=True)

3. Origin_up

In [19]:
#replace the null values with 'no_origin'
train['origin_up'] = train['origin_up'].fillna('no_origin')

#display categories
train['origin_up'].value_counts()

lxidpiddsbxsbosboudacockeimpuepw    7823
kamkkxfxxuwbdslkwifmmcsiusiuosws    4517
ldkssxwpmemidmecebumciepifcamkci    3664
no_origin                             87
usapbepcfoloekilkwsdiboslwaxobdp       2
ewxeelcelemmiwuafmddpobolfuxioce       1
Name: origin_up, dtype: int64

In [21]:
#create dummy variables
categories_origin = pd.get_dummies(train['origin_up'], prefix='origin')

#rename columns
categories_origin.columns = [col_name[:10] for col_name in categories_origin.columns]

categories_origin.head()

   origin_ewx  origin_kam  origin_ldk  origin_lxi  origin_no_  origin_usa
0           0           0           1           0           0           0
1           0           0           0           1           0           0
2           0           1           0           0           0           0
3           0           1           0           0           0           0
4           0           1           0           0           0           0

In [22]:
#drop column
categories_origin.drop(columns='origin_no_', inplace=True)

categories_origin.head(3)

   origin_ewx  origin_kam  origin_ldk  origin_lxi  origin_usa
0           0           0           1           0           0
1           0           0           0           1           0
2           0           1           0           0           0

In [23]:
#Merge Dummy variables to the main Dataframe

train = pd.merge(train, categories_channel_sales, left_index= True, right_index=True)
train = pd.merge(train, categories_activity, left_index= True, right_index= True)
train = pd.merge(train, categories_origin, left_index= True, right_index= True)

In [24]:
# drop original 'activity_new','channel_sales', 'origin_up' columns
train.drop(columns= ['activity_new','channel_sales', 'origin_up'], inplace= True)